<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://statusdemenda.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a15d77b0-68e3-4e20-bd0c-5f3b1e51af43/resourceGroups/TaskGR/providers/Microsoft.Web/sites/statusdemenda</ResourceId>
    <UserName>$statusdemenda</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://statusdemenda.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>